@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="mt-4">Kategoriler</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/Home/Index/">Ana Sayfa</a></li>
    <li class="breadcrumb-item active">Kategoriler</li>
</ol>
<div class="mb-4">
    <table class="w3-table-all w3-hoverable table-bordered">
        <thead>
            <tr class="w3-light-grey">
                <th>Sno</th>
                <th>Kategori Adı</th>
                <th>Sil</th>
                <th>Güncelle</th>
            </tr>
        </thead>
        @{ int z = 0;}
        @foreach (var k in Model)
        {
    <tr>
        <td>@{z++;} @z</td>
        <td>@k.KategoriAd</td>
        <td><a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success">Güncelle</a></td>
    </tr>

        }

    </table>    
</div>

<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori</a>

